<% provide :title, t(".name") %>
<h1><%= t ".title" %></h1>
<%= link_to t(".en"), locale: :en %>
<%= link_to t(".vi"), locale: :vi %>
<p>
  <%= t ".content" %>
  <%= link_to t(".link"), "http://www.railstutorial.org/" %>
  <%= t ".content_two" %>
  <%= link_to t(".link_two"), "http://www.railstutorial.org/book" %>
  <%= t ".content_three" %>
  <%= link_to t(".link_three"), "http://screencasts.railstutorial.org/" %>
  <%= t ".content_four" %>
  <%= link_to t(".link_four"), "http://rubyonrails.org/" %>
  <%= t ".content_five" %>.
</p>
