<% provide :title, t(".name") %>
<h1><%= t ".title" %></h1>
<%= link_to t(".en"), locale: :en %>
<%= link_to t(".vi"), locale: :vi %>
<p>
  <%= t ".content" %>
  <%= link_to t(".link"), "http://www.railstutorial.org/contact" %>
  <%= t ".content_two" %></a>.
</p>
